<ion-header class="listing-header">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>TODOS LOS PEDIDOS</ion-title>
    <ion-buttons end>
      <button ion-button (click)="GoToNewOrders()">
        <strong>
          <ion-icon style="font-size: 50px;" name="add"></ion-icon>
        </strong>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">
  <!--<ion-col no-padding >
    <button ion-button block class="signup-button" (click)="GoToNewOrders()">Nuevo Pedido</button>
  </ion-col>-->
  <!--<background-image class="image-heading" [src]="listing.banner_image">
    <ion-row class="heading-row">
      <ion-col no-padding width-100>
      </ion-col>
    </ion-row>
  </background-image>
  <ion-list>
   <ion-item>
      Item with two buttons...
      <ion-option-button class = "button-positive">Button 1</ion-option-button>
      <ion-option-button class = "button-assertive">Button 2</ion-option-button>
   </ion-item>
   <ion-item>
      Item with two buttons...
      <ion-option-button class = "button-positive">Button 1</ion-option-button>
      <ion-option-button class = "button-assertive">Button 2</ion-option-button>
   </ion-item>
</ion-list>-->

  <ion-card *ngFor='let elem of lstOrders'>
    <ion-card-header > 
      <h1>Número de Pedido: {{elem.OrderId}}</h1>
    </ion-card-header>
    <ion-card-content>
      <div>
      <p>Fecha de Pedido: {{elem.OrderDate}}</p>
      <p>Estado del Pedido: {{elem.OrderState}}</p>
      <p>Fecha de Viaje: {{elem.JourneyState}}</p> 
      <p>Estado del Viaje: {{elem.JourneyDate}}</p> 
      </div>
      <br>
    </ion-card-content>
  </ion-card>

  <ion-card *ngFor='let elem of lstOrdersP'>
    <ion-card-header > 
      <h1>Número de Pedido: {{elem.ORDERID}}</h1>
    </ion-card-header>
    <ion-card-content>
      <div>
      <p>Fecha de Pedido: {{elem.ORDERDATE}}</p>
      <p>Estado del Pedido: {{elem.ORDERSTATE}}</p>
      <p>Fecha Límite: {{elem.ORDERDEADLINE}}</p> 
      <!--<p>Estado del Viaje: {{elem.JourneyDate}}</p> -->
      </div>
      <br>
    </ion-card-content>
  </ion-card>
</ion-content>

